--
-- PostgreSQL database dump
--

-- Dumped from database version 16.6 (Ubuntu 16.6-0ubuntu0.24.04.1)
-- Dumped by pg_dump version 16.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: cart_cart; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cart_cart (
    id bigint NOT NULL,
    created_at date NOT NULL,
    updated_at date NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.cart_cart OWNER TO postgres;

--
-- Name: cart_cart_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.cart_cart ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.cart_cart_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: cart_cartitem; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cart_cartitem (
    id bigint NOT NULL,
    quantity integer NOT NULL,
    is_active boolean NOT NULL,
    cart_id bigint NOT NULL,
    product_id bigint NOT NULL,
    variant_id bigint NOT NULL
);


ALTER TABLE public.cart_cartitem OWNER TO postgres;

--
-- Name: cart_cartitem_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.cart_cartitem ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.cart_cartitem_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: category_category; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.category_category (
    id bigint NOT NULL,
    category_name character varying(40) NOT NULL,
    slug character varying(100) NOT NULL,
    is_available boolean NOT NULL
);


ALTER TABLE public.category_category OWNER TO postgres;

--
-- Name: category_category_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.category_category ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.category_category_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: coupon_coupon; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.coupon_coupon (
    id bigint NOT NULL,
    coupon_name character varying(100) NOT NULL,
    minimum_amount integer NOT NULL,
    discount integer NOT NULL,
    maximum_amount integer NOT NULL,
    expiry_date date NOT NULL,
    coupon_code character varying(50) NOT NULL,
    status boolean NOT NULL
);


ALTER TABLE public.coupon_coupon OWNER TO postgres;

--
-- Name: coupon_coupon_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.coupon_coupon ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.coupon_coupon_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: coupon_usercoupon; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.coupon_usercoupon (
    id bigint NOT NULL,
    used boolean NOT NULL,
    used_at timestamp with time zone,
    coupon_id bigint,
    order_id bigint,
    user_id bigint NOT NULL
);


ALTER TABLE public.coupon_usercoupon OWNER TO postgres;

--
-- Name: coupon_usercoupon_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.coupon_usercoupon ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.coupon_usercoupon_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: django_site; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_site (
    id integer NOT NULL,
    domain character varying(100) NOT NULL,
    name character varying(50) NOT NULL
);


ALTER TABLE public.django_site OWNER TO postgres;

--
-- Name: django_site_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_site ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_site_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: order_orderaddress; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.order_orderaddress (
    id bigint NOT NULL,
    name character varying(50) NOT NULL,
    house_name character varying(100) NOT NULL,
    street_name character varying(100) NOT NULL,
    pin_number integer NOT NULL,
    district character varying(100) NOT NULL,
    state character varying(100) NOT NULL,
    country character varying(50) NOT NULL,
    phone_number character varying(50) NOT NULL,
    status boolean NOT NULL
);


ALTER TABLE public.order_orderaddress OWNER TO postgres;

--
-- Name: order_orderaddress_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.order_orderaddress ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.order_orderaddress_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: order_ordermain; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.order_ordermain (
    id bigint NOT NULL,
    total_amount double precision NOT NULL,
    discount_amount numeric(10,2) NOT NULL,
    final_amount numeric(10,2) NOT NULL,
    date date NOT NULL,
    order_status character varying(100) NOT NULL,
    payment_option character varying(100) NOT NULL,
    order_id character varying(100) NOT NULL,
    is_active boolean NOT NULL,
    payment_status boolean NOT NULL,
    payment_id character varying(50) NOT NULL,
    address_id bigint,
    user_id bigint,
    razorpay_order_id character varying(255)
);


ALTER TABLE public.order_ordermain OWNER TO postgres;

--
-- Name: order_ordermain_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.order_ordermain ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.order_ordermain_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: order_ordersub; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.order_ordersub (
    id bigint NOT NULL,
    quantity integer NOT NULL,
    price double precision NOT NULL,
    is_active boolean NOT NULL,
    status character varying(50),
    main_order_id bigint NOT NULL,
    user_id bigint NOT NULL,
    variant_id bigint NOT NULL
);


ALTER TABLE public.order_ordersub OWNER TO postgres;

--
-- Name: order_ordersub_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.order_ordersub ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.order_ordersub_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: order_paymentattempt; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.order_paymentattempt (
    id bigint NOT NULL,
    amount numeric(10,2) NOT NULL,
    payment_id character varying(100),
    razorpay_order_id character varying(100),
    status character varying(20) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    error_message text,
    order_id bigint NOT NULL
);


ALTER TABLE public.order_paymentattempt OWNER TO postgres;

--
-- Name: order_paymentattempt_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.order_paymentattempt ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.order_paymentattempt_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: order_returnrequest; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.order_returnrequest (
    id bigint NOT NULL,
    reason text NOT NULL,
    status character varying(10) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    order_main_id bigint NOT NULL,
    order_sub_id bigint
);


ALTER TABLE public.order_returnrequest OWNER TO postgres;

--
-- Name: order_returnrequest_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.order_returnrequest ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.order_returnrequest_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: product_product_images; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.product_product_images (
    id bigint NOT NULL,
    images character varying(100) NOT NULL,
    product_id bigint
);


ALTER TABLE public.product_product_images OWNER TO postgres;

--
-- Name: product_product_images_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.product_product_images ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.product_product_images_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: product_product_variant; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.product_product_variant (
    id bigint NOT NULL,
    colour_code character varying(10),
    variant_stock bigint NOT NULL,
    variant_status boolean NOT NULL,
    weight character varying(20),
    product_id bigint NOT NULL,
    colour_name character varying(20)
);


ALTER TABLE public.product_product_variant OWNER TO postgres;

--
-- Name: product_product_variant_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.product_product_variant ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.product_product_variant_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: product_product_variant_images; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.product_product_variant_images (
    id bigint NOT NULL,
    images character varying(100) NOT NULL,
    product_variant_id bigint NOT NULL
);


ALTER TABLE public.product_product_variant_images OWNER TO postgres;

--
-- Name: product_product_variant_images_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.product_product_variant_images ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.product_product_variant_images_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: product_products; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.product_products (
    id bigint NOT NULL,
    product_name character varying(100) NOT NULL,
    product_description text NOT NULL,
    price numeric(8,2) NOT NULL,
    offer_price numeric(8,2) NOT NULL,
    thumbnail character varying(100),
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    product_category_id bigint,
    is_available boolean NOT NULL
);


ALTER TABLE public.product_products OWNER TO postgres;

--
-- Name: product_products_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.product_products ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.product_products_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: product_review; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.product_review (
    id bigint NOT NULL,
    rating integer NOT NULL,
    comment character varying(50) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    product_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.product_review OWNER TO postgres;

--
-- Name: product_review_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.product_review ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.product_review_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: register_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.register_user (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    first_name character varying(30) NOT NULL,
    last_name character varying(30) NOT NULL,
    email character varying(254) NOT NULL,
    phone_number character varying(15) NOT NULL,
    is_active boolean NOT NULL,
    is_admin boolean NOT NULL,
    is_staff boolean NOT NULL,
    is_superuser boolean NOT NULL,
    is_blocked boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.register_user OWNER TO postgres;

--
-- Name: register_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.register_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.register_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: social_auth_association; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.social_auth_association (
    id bigint NOT NULL,
    server_url character varying(255) NOT NULL,
    handle character varying(255) NOT NULL,
    secret character varying(255) NOT NULL,
    issued integer NOT NULL,
    lifetime integer NOT NULL,
    assoc_type character varying(64) NOT NULL
);


ALTER TABLE public.social_auth_association OWNER TO postgres;

--
-- Name: social_auth_association_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.social_auth_association ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.social_auth_association_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: social_auth_code; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.social_auth_code (
    id bigint NOT NULL,
    email character varying(254) NOT NULL,
    code character varying(32) NOT NULL,
    verified boolean NOT NULL,
    "timestamp" timestamp with time zone NOT NULL
);


ALTER TABLE public.social_auth_code OWNER TO postgres;

--
-- Name: social_auth_code_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.social_auth_code ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.social_auth_code_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: social_auth_nonce; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.social_auth_nonce (
    id bigint NOT NULL,
    server_url character varying(255) NOT NULL,
    "timestamp" integer NOT NULL,
    salt character varying(65) NOT NULL
);


ALTER TABLE public.social_auth_nonce OWNER TO postgres;

--
-- Name: social_auth_nonce_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.social_auth_nonce ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.social_auth_nonce_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: social_auth_partial; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.social_auth_partial (
    id bigint NOT NULL,
    token character varying(32) NOT NULL,
    next_step smallint NOT NULL,
    backend character varying(32) NOT NULL,
    "timestamp" timestamp with time zone NOT NULL,
    data jsonb NOT NULL,
    CONSTRAINT social_auth_partial_next_step_check CHECK ((next_step >= 0))
);


ALTER TABLE public.social_auth_partial OWNER TO postgres;

--
-- Name: social_auth_partial_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.social_auth_partial ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.social_auth_partial_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: social_auth_usersocialauth; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.social_auth_usersocialauth (
    id bigint NOT NULL,
    provider character varying(32) NOT NULL,
    uid character varying(255) NOT NULL,
    user_id bigint NOT NULL,
    created timestamp with time zone NOT NULL,
    modified timestamp with time zone NOT NULL,
    extra_data jsonb NOT NULL
);


ALTER TABLE public.social_auth_usersocialauth OWNER TO postgres;

--
-- Name: social_auth_usersocialauth_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.social_auth_usersocialauth ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.social_auth_usersocialauth_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: userprofile_useraddress; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.userprofile_useraddress (
    id bigint NOT NULL,
    name character varying(50) NOT NULL,
    house_name character varying(100) NOT NULL,
    street_name character varying(100) NOT NULL,
    pin_number integer NOT NULL,
    district character varying(100) NOT NULL,
    state character varying(50) NOT NULL,
    country character varying(50) NOT NULL,
    phone_number character varying(50) NOT NULL,
    status boolean NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.userprofile_useraddress OWNER TO postgres;

--
-- Name: userprofile_useraddress_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.userprofile_useraddress ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.userprofile_useraddress_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: userprofile_wallet; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.userprofile_wallet (
    id bigint NOT NULL,
    balance numeric(10,2) NOT NULL,
    updated_at date NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.userprofile_wallet OWNER TO postgres;

--
-- Name: userprofile_wallet_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.userprofile_wallet ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.userprofile_wallet_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: userprofile_wallettransaction; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.userprofile_wallettransaction (
    id bigint NOT NULL,
    amount numeric(10,2) NOT NULL,
    description character varying(500) NOT NULL,
    "timestamp" timestamp with time zone NOT NULL,
    transaction_type character varying(500) NOT NULL,
    wallet_id bigint NOT NULL
);


ALTER TABLE public.userprofile_wallettransaction OWNER TO postgres;

--
-- Name: userprofile_wallettransaction_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.userprofile_wallettransaction ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.userprofile_wallettransaction_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: userprofile_wishlist; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.userprofile_wishlist (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    user_id bigint NOT NULL,
    variant_id bigint NOT NULL
);


ALTER TABLE public.userprofile_wishlist OWNER TO postgres;

--
-- Name: userprofile_wishlist_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.userprofile_wishlist ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.userprofile_wishlist_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: cart_cart; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.cart_cart (id, created_at, updated_at, user_id) FROM stdin;
\.


--
-- Data for Name: cart_cartitem; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.cart_cartitem (id, quantity, is_active, cart_id, product_id, variant_id) FROM stdin;
\.


--
-- Data for Name: category_category; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.category_category (id, category_name, slug, is_available) FROM stdin;
\.


--
-- Data for Name: coupon_coupon; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.coupon_coupon (id, coupon_name, minimum_amount, discount, maximum_amount, expiry_date, coupon_code, status) FROM stdin;
\.


--
-- Data for Name: coupon_usercoupon; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.coupon_usercoupon (id, used, used_at, coupon_id, order_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
\.


--
-- Data for Name: django_site; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_site (id, domain, name) FROM stdin;
1	example.com	example.com
\.


--
-- Data for Name: order_orderaddress; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.order_orderaddress (id, name, house_name, street_name, pin_number, district, state, country, phone_number, status) FROM stdin;
\.


--
-- Data for Name: order_ordermain; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.order_ordermain (id, total_amount, discount_amount, final_amount, date, order_status, payment_option, order_id, is_active, payment_status, payment_id, address_id, user_id, razorpay_order_id) FROM stdin;
\.


--
-- Data for Name: order_ordersub; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.order_ordersub (id, quantity, price, is_active, status, main_order_id, user_id, variant_id) FROM stdin;
\.


--
-- Data for Name: order_paymentattempt; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.order_paymentattempt (id, amount, payment_id, razorpay_order_id, status, created_at, error_message, order_id) FROM stdin;
\.


--
-- Data for Name: order_returnrequest; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.order_returnrequest (id, reason, status, created_at, updated_at, order_main_id, order_sub_id) FROM stdin;
\.


--
-- Data for Name: product_product_images; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.product_product_images (id, images, product_id) FROM stdin;
\.


--
-- Data for Name: product_product_variant; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.product_product_variant (id, colour_code, variant_stock, variant_status, weight, product_id, colour_name) FROM stdin;
\.


--
-- Data for Name: product_product_variant_images; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.product_product_variant_images (id, images, product_variant_id) FROM stdin;
\.


--
-- Data for Name: product_products; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.product_products (id, product_name, product_description, price, offer_price, thumbnail, is_active, created_at, updated_at, product_category_id, is_available) FROM stdin;
\.


--
-- Data for Name: product_review; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.product_review (id, rating, comment, created_at, product_id, user_id) FROM stdin;
\.


--
-- Data for Name: register_user; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.register_user (id, password, last_login, first_name, last_name, email, phone_number, is_active, is_admin, is_staff, is_superuser, is_blocked, date_joined) FROM stdin;
\.


--
-- Data for Name: social_auth_association; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.social_auth_association (id, server_url, handle, secret, issued, lifetime, assoc_type) FROM stdin;
\.


--
-- Data for Name: social_auth_code; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.social_auth_code (id, email, code, verified, "timestamp") FROM stdin;
\.


--
-- Data for Name: social_auth_nonce; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.social_auth_nonce (id, server_url, "timestamp", salt) FROM stdin;
\.


--
-- Data for Name: social_auth_partial; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.social_auth_partial (id, token, next_step, backend, "timestamp", data) FROM stdin;
\.


--
-- Data for Name: social_auth_usersocialauth; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.social_auth_usersocialauth (id, provider, uid, user_id, created, modified, extra_data) FROM stdin;
\.


--
-- Data for Name: userprofile_useraddress; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.userprofile_useraddress (id, name, house_name, street_name, pin_number, district, state, country, phone_number, status, user_id) FROM stdin;
\.


--
-- Data for Name: userprofile_wallet; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.userprofile_wallet (id, balance, updated_at, user_id) FROM stdin;
\.


--
-- Data for Name: userprofile_wallettransaction; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.userprofile_wallettransaction (id, amount, description, "timestamp", transaction_type, wallet_id) FROM stdin;
\.


--
-- Data for Name: userprofile_wishlist; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.userprofile_wishlist (id, created_at, user_id, variant_id) FROM stdin;
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 124, true);


--
-- Name: cart_cart_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.cart_cart_id_seq', 1, false);


--
-- Name: cart_cartitem_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.cart_cartitem_id_seq', 1, false);


--
-- Name: category_category_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.category_category_id_seq', 1, false);


--
-- Name: coupon_coupon_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.coupon_coupon_id_seq', 1, false);


--
-- Name: coupon_usercoupon_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.coupon_usercoupon_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 31, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 60, true);


--
-- Name: django_site_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_site_id_seq', 1, true);


--
-- Name: order_orderaddress_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.order_orderaddress_id_seq', 1, false);


--
-- Name: order_ordermain_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.order_ordermain_id_seq', 1, false);


--
-- Name: order_ordersub_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.order_ordersub_id_seq', 1, false);


--
-- Name: order_paymentattempt_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.order_paymentattempt_id_seq', 1, false);


--
-- Name: order_returnrequest_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.order_returnrequest_id_seq', 1, false);


--
-- Name: product_product_images_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.product_product_images_id_seq', 1, false);


--
-- Name: product_product_variant_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.product_product_variant_id_seq', 1, false);


--
-- Name: product_product_variant_images_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.product_product_variant_images_id_seq', 1, false);


--
-- Name: product_products_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.product_products_id_seq', 1, false);


--
-- Name: product_review_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.product_review_id_seq', 1, false);


--
-- Name: register_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.register_user_id_seq', 1, false);


--
-- Name: social_auth_association_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.social_auth_association_id_seq', 1, false);


--
-- Name: social_auth_code_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.social_auth_code_id_seq', 1, false);


--
-- Name: social_auth_nonce_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.social_auth_nonce_id_seq', 1, false);


--
-- Name: social_auth_partial_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.social_auth_partial_id_seq', 1, false);


--
-- Name: social_auth_usersocialauth_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.social_auth_usersocialauth_id_seq', 1, false);


--
-- Name: userprofile_useraddress_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.userprofile_useraddress_id_seq', 1, false);


--
-- Name: userprofile_wallet_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.userprofile_wallet_id_seq', 1, false);


--
-- Name: userprofile_wallettransaction_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.userprofile_wallettransaction_id_seq', 1, false);


--
-- Name: userprofile_wishlist_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.userprofile_wishlist_id_seq', 1, false);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: cart_cart cart_cart_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cart_cart
    ADD CONSTRAINT cart_cart_pkey PRIMARY KEY (id);


--
-- Name: cart_cartitem cart_cartitem_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cart_cartitem
    ADD CONSTRAINT cart_cartitem_pkey PRIMARY KEY (id);


--
-- Name: category_category category_category_category_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.category_category
    ADD CONSTRAINT category_category_category_name_key UNIQUE (category_name);


--
-- Name: category_category category_category_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.category_category
    ADD CONSTRAINT category_category_pkey PRIMARY KEY (id);


--
-- Name: category_category category_category_slug_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.category_category
    ADD CONSTRAINT category_category_slug_key UNIQUE (slug);


--
-- Name: coupon_coupon coupon_coupon_coupon_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.coupon_coupon
    ADD CONSTRAINT coupon_coupon_coupon_code_key UNIQUE (coupon_code);


--
-- Name: coupon_coupon coupon_coupon_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.coupon_coupon
    ADD CONSTRAINT coupon_coupon_pkey PRIMARY KEY (id);


--
-- Name: coupon_usercoupon coupon_usercoupon_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.coupon_usercoupon
    ADD CONSTRAINT coupon_usercoupon_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: django_site django_site_domain_a2e37b91_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_site
    ADD CONSTRAINT django_site_domain_a2e37b91_uniq UNIQUE (domain);


--
-- Name: django_site django_site_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_site
    ADD CONSTRAINT django_site_pkey PRIMARY KEY (id);


--
-- Name: order_orderaddress order_orderaddress_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_orderaddress
    ADD CONSTRAINT order_orderaddress_pkey PRIMARY KEY (id);


--
-- Name: order_ordermain order_ordermain_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_ordermain
    ADD CONSTRAINT order_ordermain_pkey PRIMARY KEY (id);


--
-- Name: order_ordersub order_ordersub_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_ordersub
    ADD CONSTRAINT order_ordersub_pkey PRIMARY KEY (id);


--
-- Name: order_paymentattempt order_paymentattempt_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_paymentattempt
    ADD CONSTRAINT order_paymentattempt_pkey PRIMARY KEY (id);


--
-- Name: order_returnrequest order_returnrequest_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_returnrequest
    ADD CONSTRAINT order_returnrequest_pkey PRIMARY KEY (id);


--
-- Name: product_product_images product_product_images_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_product_images
    ADD CONSTRAINT product_product_images_pkey PRIMARY KEY (id);


--
-- Name: product_product_variant_images product_product_variant_images_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_product_variant_images
    ADD CONSTRAINT product_product_variant_images_pkey PRIMARY KEY (id);


--
-- Name: product_product_variant product_product_variant_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_product_variant
    ADD CONSTRAINT product_product_variant_pkey PRIMARY KEY (id);


--
-- Name: product_products product_products_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_products
    ADD CONSTRAINT product_products_pkey PRIMARY KEY (id);


--
-- Name: product_review product_review_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_review
    ADD CONSTRAINT product_review_pkey PRIMARY KEY (id);


--
-- Name: register_user register_user_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.register_user
    ADD CONSTRAINT register_user_email_key UNIQUE (email);


--
-- Name: register_user register_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.register_user
    ADD CONSTRAINT register_user_pkey PRIMARY KEY (id);


--
-- Name: social_auth_association social_auth_association_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.social_auth_association
    ADD CONSTRAINT social_auth_association_pkey PRIMARY KEY (id);


--
-- Name: social_auth_association social_auth_association_server_url_handle_078befa2_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.social_auth_association
    ADD CONSTRAINT social_auth_association_server_url_handle_078befa2_uniq UNIQUE (server_url, handle);


--
-- Name: social_auth_code social_auth_code_email_code_801b2d02_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.social_auth_code
    ADD CONSTRAINT social_auth_code_email_code_801b2d02_uniq UNIQUE (email, code);


--
-- Name: social_auth_code social_auth_code_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.social_auth_code
    ADD CONSTRAINT social_auth_code_pkey PRIMARY KEY (id);


--
-- Name: social_auth_nonce social_auth_nonce_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.social_auth_nonce
    ADD CONSTRAINT social_auth_nonce_pkey PRIMARY KEY (id);


--
-- Name: social_auth_nonce social_auth_nonce_server_url_timestamp_salt_f6284463_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.social_auth_nonce
    ADD CONSTRAINT social_auth_nonce_server_url_timestamp_salt_f6284463_uniq UNIQUE (server_url, "timestamp", salt);


--
-- Name: social_auth_partial social_auth_partial_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.social_auth_partial
    ADD CONSTRAINT social_auth_partial_pkey PRIMARY KEY (id);


--
-- Name: social_auth_usersocialauth social_auth_usersocialauth_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.social_auth_usersocialauth
    ADD CONSTRAINT social_auth_usersocialauth_pkey PRIMARY KEY (id);


--
-- Name: social_auth_usersocialauth social_auth_usersocialauth_provider_uid_e6b5e668_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.social_auth_usersocialauth
    ADD CONSTRAINT social_auth_usersocialauth_provider_uid_e6b5e668_uniq UNIQUE (provider, uid);


--
-- Name: userprofile_useraddress userprofile_useraddress_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.userprofile_useraddress
    ADD CONSTRAINT userprofile_useraddress_pkey PRIMARY KEY (id);


--
-- Name: userprofile_wallet userprofile_wallet_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.userprofile_wallet
    ADD CONSTRAINT userprofile_wallet_pkey PRIMARY KEY (id);


--
-- Name: userprofile_wallettransaction userprofile_wallettransaction_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.userprofile_wallettransaction
    ADD CONSTRAINT userprofile_wallettransaction_pkey PRIMARY KEY (id);


--
-- Name: userprofile_wishlist userprofile_wishlist_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.userprofile_wishlist
    ADD CONSTRAINT userprofile_wishlist_pkey PRIMARY KEY (id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: cart_cart_user_id_9b4220b9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX cart_cart_user_id_9b4220b9 ON public.cart_cart USING btree (user_id);


--
-- Name: cart_cartitem_cart_id_370ad265; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX cart_cartitem_cart_id_370ad265 ON public.cart_cartitem USING btree (cart_id);


--
-- Name: cart_cartitem_product_id_b24e265a; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX cart_cartitem_product_id_b24e265a ON public.cart_cartitem USING btree (product_id);


--
-- Name: cart_cartitem_variant_id_69f5d8c8; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX cart_cartitem_variant_id_69f5d8c8 ON public.cart_cartitem USING btree (variant_id);


--
-- Name: category_category_category_name_1aa3ee61_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX category_category_category_name_1aa3ee61_like ON public.category_category USING btree (category_name varchar_pattern_ops);


--
-- Name: category_category_slug_4f83d5f6_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX category_category_slug_4f83d5f6_like ON public.category_category USING btree (slug varchar_pattern_ops);


--
-- Name: coupon_coupon_coupon_code_dbffb194_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX coupon_coupon_coupon_code_dbffb194_like ON public.coupon_coupon USING btree (coupon_code varchar_pattern_ops);


--
-- Name: coupon_usercoupon_coupon_id_dc584853; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX coupon_usercoupon_coupon_id_dc584853 ON public.coupon_usercoupon USING btree (coupon_id);


--
-- Name: coupon_usercoupon_order_id_ccef0f12; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX coupon_usercoupon_order_id_ccef0f12 ON public.coupon_usercoupon USING btree (order_id);


--
-- Name: coupon_usercoupon_user_id_8c2082c2; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX coupon_usercoupon_user_id_8c2082c2 ON public.coupon_usercoupon USING btree (user_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: django_site_domain_a2e37b91_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_site_domain_a2e37b91_like ON public.django_site USING btree (domain varchar_pattern_ops);


--
-- Name: order_ordermain_address_id_e3f2f221; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX order_ordermain_address_id_e3f2f221 ON public.order_ordermain USING btree (address_id);


--
-- Name: order_ordermain_user_id_501f2d7b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX order_ordermain_user_id_501f2d7b ON public.order_ordermain USING btree (user_id);


--
-- Name: order_ordersub_main_order_id_bfac4c8f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX order_ordersub_main_order_id_bfac4c8f ON public.order_ordersub USING btree (main_order_id);


--
-- Name: order_ordersub_user_id_9c561250; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX order_ordersub_user_id_9c561250 ON public.order_ordersub USING btree (user_id);


--
-- Name: order_ordersub_variant_id_408fb5aa; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX order_ordersub_variant_id_408fb5aa ON public.order_ordersub USING btree (variant_id);


--
-- Name: order_paymentattempt_order_id_ffd823a7; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX order_paymentattempt_order_id_ffd823a7 ON public.order_paymentattempt USING btree (order_id);


--
-- Name: order_returnrequest_order_main_id_f5bab1ec; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX order_returnrequest_order_main_id_f5bab1ec ON public.order_returnrequest USING btree (order_main_id);


--
-- Name: order_returnrequest_order_sub_id_be839576; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX order_returnrequest_order_sub_id_be839576 ON public.order_returnrequest USING btree (order_sub_id);


--
-- Name: product_product_images_product_id_cac03c7f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX product_product_images_product_id_cac03c7f ON public.product_product_images USING btree (product_id);


--
-- Name: product_product_variant_images_product_variant_id_0866d015; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX product_product_variant_images_product_variant_id_0866d015 ON public.product_product_variant_images USING btree (product_variant_id);


--
-- Name: product_product_variant_product_id_558f75b1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX product_product_variant_product_id_558f75b1 ON public.product_product_variant USING btree (product_id);


--
-- Name: product_products_product_category_id_54abb7c6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX product_products_product_category_id_54abb7c6 ON public.product_products USING btree (product_category_id);


--
-- Name: product_review_product_id_428b0c5c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX product_review_product_id_428b0c5c ON public.product_review USING btree (product_id);


--
-- Name: product_review_user_id_101f565f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX product_review_user_id_101f565f ON public.product_review USING btree (user_id);


--
-- Name: register_user_email_1f31fbcb_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX register_user_email_1f31fbcb_like ON public.register_user USING btree (email varchar_pattern_ops);


--
-- Name: social_auth_code_code_a2393167; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX social_auth_code_code_a2393167 ON public.social_auth_code USING btree (code);


--
-- Name: social_auth_code_code_a2393167_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX social_auth_code_code_a2393167_like ON public.social_auth_code USING btree (code varchar_pattern_ops);


--
-- Name: social_auth_code_timestamp_176b341f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX social_auth_code_timestamp_176b341f ON public.social_auth_code USING btree ("timestamp");


--
-- Name: social_auth_partial_timestamp_50f2119f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX social_auth_partial_timestamp_50f2119f ON public.social_auth_partial USING btree ("timestamp");


--
-- Name: social_auth_partial_token_3017fea3; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX social_auth_partial_token_3017fea3 ON public.social_auth_partial USING btree (token);


--
-- Name: social_auth_partial_token_3017fea3_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX social_auth_partial_token_3017fea3_like ON public.social_auth_partial USING btree (token varchar_pattern_ops);


--
-- Name: social_auth_usersocialauth_uid_796e51dc; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX social_auth_usersocialauth_uid_796e51dc ON public.social_auth_usersocialauth USING btree (uid);


--
-- Name: social_auth_usersocialauth_uid_796e51dc_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX social_auth_usersocialauth_uid_796e51dc_like ON public.social_auth_usersocialauth USING btree (uid varchar_pattern_ops);


--
-- Name: social_auth_usersocialauth_user_id_17d28448; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX social_auth_usersocialauth_user_id_17d28448 ON public.social_auth_usersocialauth USING btree (user_id);


--
-- Name: userprofile_useraddress_user_id_192e5f7c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX userprofile_useraddress_user_id_192e5f7c ON public.userprofile_useraddress USING btree (user_id);


--
-- Name: userprofile_wallet_user_id_5028eded; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX userprofile_wallet_user_id_5028eded ON public.userprofile_wallet USING btree (user_id);


--
-- Name: userprofile_wallettransaction_wallet_id_8207b81c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX userprofile_wallettransaction_wallet_id_8207b81c ON public.userprofile_wallettransaction USING btree (wallet_id);


--
-- Name: userprofile_wishlist_user_id_746306e1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX userprofile_wishlist_user_id_746306e1 ON public.userprofile_wishlist USING btree (user_id);


--
-- Name: userprofile_wishlist_variant_id_a24d524c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX userprofile_wishlist_variant_id_a24d524c ON public.userprofile_wishlist USING btree (variant_id);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: cart_cart cart_cart_user_id_9b4220b9_fk_register_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cart_cart
    ADD CONSTRAINT cart_cart_user_id_9b4220b9_fk_register_user_id FOREIGN KEY (user_id) REFERENCES public.register_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: cart_cartitem cart_cartitem_cart_id_370ad265_fk_cart_cart_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cart_cartitem
    ADD CONSTRAINT cart_cartitem_cart_id_370ad265_fk_cart_cart_id FOREIGN KEY (cart_id) REFERENCES public.cart_cart(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: cart_cartitem cart_cartitem_product_id_b24e265a_fk_product_products_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cart_cartitem
    ADD CONSTRAINT cart_cartitem_product_id_b24e265a_fk_product_products_id FOREIGN KEY (product_id) REFERENCES public.product_products(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: cart_cartitem cart_cartitem_variant_id_69f5d8c8_fk_product_product_variant_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cart_cartitem
    ADD CONSTRAINT cart_cartitem_variant_id_69f5d8c8_fk_product_product_variant_id FOREIGN KEY (variant_id) REFERENCES public.product_product_variant(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: coupon_usercoupon coupon_usercoupon_coupon_id_dc584853_fk_coupon_coupon_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.coupon_usercoupon
    ADD CONSTRAINT coupon_usercoupon_coupon_id_dc584853_fk_coupon_coupon_id FOREIGN KEY (coupon_id) REFERENCES public.coupon_coupon(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: coupon_usercoupon coupon_usercoupon_order_id_ccef0f12_fk_order_ordermain_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.coupon_usercoupon
    ADD CONSTRAINT coupon_usercoupon_order_id_ccef0f12_fk_order_ordermain_id FOREIGN KEY (order_id) REFERENCES public.order_ordermain(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: coupon_usercoupon coupon_usercoupon_user_id_8c2082c2_fk_register_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.coupon_usercoupon
    ADD CONSTRAINT coupon_usercoupon_user_id_8c2082c2_fk_register_user_id FOREIGN KEY (user_id) REFERENCES public.register_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_register_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_register_user_id FOREIGN KEY (user_id) REFERENCES public.register_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: order_ordermain order_ordermain_address_id_e3f2f221_fk_order_orderaddress_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_ordermain
    ADD CONSTRAINT order_ordermain_address_id_e3f2f221_fk_order_orderaddress_id FOREIGN KEY (address_id) REFERENCES public.order_orderaddress(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: order_ordermain order_ordermain_user_id_501f2d7b_fk_register_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_ordermain
    ADD CONSTRAINT order_ordermain_user_id_501f2d7b_fk_register_user_id FOREIGN KEY (user_id) REFERENCES public.register_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: order_ordersub order_ordersub_main_order_id_bfac4c8f_fk_order_ordermain_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_ordersub
    ADD CONSTRAINT order_ordersub_main_order_id_bfac4c8f_fk_order_ordermain_id FOREIGN KEY (main_order_id) REFERENCES public.order_ordermain(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: order_ordersub order_ordersub_user_id_9c561250_fk_register_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_ordersub
    ADD CONSTRAINT order_ordersub_user_id_9c561250_fk_register_user_id FOREIGN KEY (user_id) REFERENCES public.register_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: order_ordersub order_ordersub_variant_id_408fb5aa_fk_product_p; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_ordersub
    ADD CONSTRAINT order_ordersub_variant_id_408fb5aa_fk_product_p FOREIGN KEY (variant_id) REFERENCES public.product_product_variant(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: order_paymentattempt order_paymentattempt_order_id_ffd823a7_fk_order_ordermain_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_paymentattempt
    ADD CONSTRAINT order_paymentattempt_order_id_ffd823a7_fk_order_ordermain_id FOREIGN KEY (order_id) REFERENCES public.order_ordermain(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: order_returnrequest order_returnrequest_order_main_id_f5bab1ec_fk_order_ord; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_returnrequest
    ADD CONSTRAINT order_returnrequest_order_main_id_f5bab1ec_fk_order_ord FOREIGN KEY (order_main_id) REFERENCES public.order_ordermain(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: order_returnrequest order_returnrequest_order_sub_id_be839576_fk_order_ordersub_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_returnrequest
    ADD CONSTRAINT order_returnrequest_order_sub_id_be839576_fk_order_ordersub_id FOREIGN KEY (order_sub_id) REFERENCES public.order_ordersub(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: product_product_images product_product_imag_product_id_cac03c7f_fk_product_p; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_product_images
    ADD CONSTRAINT product_product_imag_product_id_cac03c7f_fk_product_p FOREIGN KEY (product_id) REFERENCES public.product_products(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: product_product_variant product_product_vari_product_id_558f75b1_fk_product_p; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_product_variant
    ADD CONSTRAINT product_product_vari_product_id_558f75b1_fk_product_p FOREIGN KEY (product_id) REFERENCES public.product_products(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: product_product_variant_images product_product_vari_product_variant_id_0866d015_fk_product_p; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_product_variant_images
    ADD CONSTRAINT product_product_vari_product_variant_id_0866d015_fk_product_p FOREIGN KEY (product_variant_id) REFERENCES public.product_product_variant(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: product_products product_products_product_category_id_54abb7c6_fk_category_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_products
    ADD CONSTRAINT product_products_product_category_id_54abb7c6_fk_category_ FOREIGN KEY (product_category_id) REFERENCES public.category_category(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: product_review product_review_product_id_428b0c5c_fk_product_products_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_review
    ADD CONSTRAINT product_review_product_id_428b0c5c_fk_product_products_id FOREIGN KEY (product_id) REFERENCES public.product_products(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: product_review product_review_user_id_101f565f_fk_register_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_review
    ADD CONSTRAINT product_review_user_id_101f565f_fk_register_user_id FOREIGN KEY (user_id) REFERENCES public.register_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: social_auth_usersocialauth social_auth_usersocialauth_user_id_17d28448_fk_register_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.social_auth_usersocialauth
    ADD CONSTRAINT social_auth_usersocialauth_user_id_17d28448_fk_register_user_id FOREIGN KEY (user_id) REFERENCES public.register_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: userprofile_useraddress userprofile_useraddress_user_id_192e5f7c_fk_register_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.userprofile_useraddress
    ADD CONSTRAINT userprofile_useraddress_user_id_192e5f7c_fk_register_user_id FOREIGN KEY (user_id) REFERENCES public.register_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: userprofile_wallet userprofile_wallet_user_id_5028eded_fk_register_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.userprofile_wallet
    ADD CONSTRAINT userprofile_wallet_user_id_5028eded_fk_register_user_id FOREIGN KEY (user_id) REFERENCES public.register_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: userprofile_wallettransaction userprofile_wallettr_wallet_id_8207b81c_fk_userprofi; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.userprofile_wallettransaction
    ADD CONSTRAINT userprofile_wallettr_wallet_id_8207b81c_fk_userprofi FOREIGN KEY (wallet_id) REFERENCES public.userprofile_wallet(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: userprofile_wishlist userprofile_wishlist_user_id_746306e1_fk_register_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.userprofile_wishlist
    ADD CONSTRAINT userprofile_wishlist_user_id_746306e1_fk_register_user_id FOREIGN KEY (user_id) REFERENCES public.register_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: userprofile_wishlist userprofile_wishlist_variant_id_a24d524c_fk_product_p; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.userprofile_wishlist
    ADD CONSTRAINT userprofile_wishlist_variant_id_a24d524c_fk_product_p FOREIGN KEY (variant_id) REFERENCES public.product_product_variant(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

