asgiref==3.8.1
certifi==2024.8.30
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.0
cryptography==43.0.3
defusedxml==0.8.0rc2
Django==5.1
django-allauth==65.2.0
idna==3.10
oauthlib==3.2.2
pillow==11.0.0
psycopg==3.2.3
psycopg2==2.9.9
pycparser==2.22
PyJWT==2.10.0
python-dateutil==2.9.0.post0
python-decouple==3.8
python3-openid==3.2.0
razorpay==1.4.2
reportlab==4.2.5
requests==2.32.3
requests-oauthlib==2.0.0
setuptools==75.6.0
six==1.16.0
social-auth-app-django==5.4.2
social-auth-core==4.5.4
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.3
