{% extends 'user_side/base.html' %}
{% load static %}
{% block content %}

<div class="page-header breadcrumb-wrap">
    <div class="container">
        <div class="breadcrumb">
            <a href="{% url 'home_page' %}" rel="nofollow"></i>Home</a>
            <span></span> About Us
        </div>
    </div>
</div>

<div class="page-content pt-50">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 col-lg-12 m-auto">
                <section class="row align-items-center mb-50">
                    <div class="col-lg-6">
                        <img src="{% static 'user_side/hero (1).jpeg' %}" alt="" class="border-radius-15 mb-md-3 mb-lg-0 mb-sm-4">
                    </div>
                    <div class="col-lg-6">
                        <div class="pl-25">
                            <h1 class="mb-30">Our Mission</h2>
                            <h4 class="mb-25">Our mission is to make beautiful jewellery accessible. Jewellery that not only makes a woman look beautiful but also make her feel beautiful and loved.</h4>
                            {% comment %} <p class="mb-50">Our journey began with a simple idea: to make quality eyewear accessible to everyone. Today, we're proud to offer a wide range of products, from prescription glasses to trendy sunglasses and essential screen glasses, all at competitive prices.</p> {% endcomment %}
                        </div>
                    </div>
                </section>
                <section class="text-center mb-50">
                    <h2 class="title style-3 mb-40">What Sets Us Apart</h2>
                    <div class="row">
                        <div class="col-lg-4 col-md-6 mb-24">
                            <div class="featured-card">
                                <h4>Quality Products</h4>
                                <p>We partner with leading brands and manufacturers to ensure every product meets our high standards.</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-24">
                            <div class="featured-card">
                                <h4>User-Friendly Experience</h4>
                                <p>Our website is designed with you in mind, making it easy to find, compare, and purchase the perfect jewellery.</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-24">
                            <div class="featured-card">
                                <h4>Great Value</h4>
                                <p>Enjoy competitive prices, regular offers, and exclusive coupons to make your purchase even more affordable.</p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

{% endblock content %}