{% extends 'user_side/base.html' %}
{% load static %}
{% block content %}
<main class="container my-5">
    <div class="row g-5">
        <div class="col-md-6 mx-auto">
            <div class="card border-0 shadow-sm mb-4">
                <div class="card-body">
                    <h4 class="card-title mb-4">Change Password</h4>
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            {{ form.old_password.label_tag }}<br>
                            {{ form.old_password }}
                            <small class="form-text text-muted">{{ form.old_password.help_text }}</small>
                        </div>
                        <div class="mb-3">
                            {{ form.new_password1.label_tag }}<br>
                            {{ form.new_password1 }}
                            <small class="form-text text-muted">{{ form.new_password1.help_text }}</small>
                        </div>
                        <div class="mb-3">
                            {{ form.new_password2.label_tag }}<br>
                            {{ form.new_password2 }}
                        </div>
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </form>
                    {% if form.errors %}
                        <div class="alert alert-danger mt-3">
                            {% for error in form.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
