{% extends 'admin_side/base.html' %}
{% load static %}
{% block content %}
<section class="content-main">
    
    <div class="card mb-4 shadow-sm border-0">
        <header class="card-header bg-dark text-white">
            <h4 class="card-title mb-0 text-center"><span style="color:white">Top Selling Products</span></h4>
        </header>
        
        <div class="card-body bg-light">
            <div class="row gx-3 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 row-cols-xxl-5">
                
                {% if top_product %}
                <div class="col">
                    <div class="card card-product-grid shadow-sm border-0 h-100 bg-dark text-white">
                        <div class="card-body d-flex flex-column justify-content-between">
                            <div class="info-wrap text-center">
                                <a href="#" class="title text-truncate text-uppercase fw-bold text-white d-block mb-2">
                                    {{ top_product.variant__product__product_name }}
                                </a>
                                <span class="badge bg-light text-dark mb-2">Top Seller</span>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="col-12">
                    <div class="alert alert-dark text-center" role="alert">
                        No top products available at the moment.
                    </div>
                </div>
                {% endif %}
                
            </div>
        </div>
    </div>
</section>
{% endblock %}